node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Playwright
/playwright-report/
/test-results/

# Scratch
/scratch/

# User Documents, Diagrams, & Configs
*SRS*.pdf
stitch-prompts.md
skills-lock.json
*PRD*.md
Planning*.md
Integrasi*.md
design.md
walkthrough.md
*sequence*.md
/.agents/
